{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="col-sm-8">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Выберите новый форум для темы "{{ topic.title }}"</h3>
                </div>
            </div>
            {% block form_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                        <ul>
                            {% for error in errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_errors %}
            <div class="form-bottom">
                {{ form_start(form, {'action': path('topic_move', {'id': topic.id}), 'method': 'POST', 'name': 'topic'}) }}
                {{ form_widget(form.id) }}
                <div class="form-group">
                    <label class="sr-only" for="form-forum">{{ form_label(form.forum) }}</label>
                    {{ form_widget(form.forum, {'id': 'form-forum', 'attr': {'class': 'form-forum form-control'}}) }}
                </div>

                <div class="row">
                    <div class="col-xs-6 text-left">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Перенести</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-lg btn-primary btn-block" onclick="location.href='{{ path('show_topic', {'id': topic.id}) }}'; return false;">Я передумал</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}