{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <h3>{{ topic.title }}</h3>
    <div class="text-center">{{ knp_pagination_render(pagination) }}</div>
    <div class="pull-right topic-buttons">
        {% if is_granted("create", post) %}
            <a href="{{ path('create_post', {'id': topic.forum.id}) }}"><button type="button" class="btn btn-success">
                <span class="fa fa-pencil" aria-hidden="true"></span> Создать тему
            </button></a>
        {% endif %}
        {% if is_granted("reply", topic) %}
            <a href="{{ path('reply_post', {'id': topic.id}) }}"><button type="button" class="btn btn-primary">
                    <span class="fa fa-plus" aria-hidden="true"></span> Ответить
                </button></a>
        {% elseif topic.closed %}
            <button type="button" class="btn btn-danger disabled">
                <span class="fa fa-times" aria-hidden="true"></span> Тема закрыта
            </button>
        {% endif %}
    </div>
    <table class="table forum table-striped">
        <tbody>
        {% for post in pagination %}
            <tr>
                <td colspan="2">
                    <span id="{{ post.id }}">{{ post.author.name }}</span>
                    <div class="pull-right">
                    {% if is_granted("edit", post) %}
                        <a href="{{ path('edit_post', {'id': topic.id, 'postId': post.id}) }}"><button type="button" class="btn btn-primary btn-xs">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> редактировать
                        </button></a>
                    {% endif %}
                    {% if is_granted("delete", post) and post.id != topic.firstPost.id %}
                        <a href="{{ path('delete_post', {'postId': post.id}) }}"><button type="button" class="btn btn-primary btn-xs">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> удалить
                            </button></a>
                    {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="150">
                    <img src="{{ post.author.avatarUrl }}" />
                </td>
                <td class="align-top">
                    <div>{{ post.created|date("m-d-Y H:i") }}</div>
                    <p class="post-body">{{ text_formatter_render(post.post) }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">{{ knp_pagination_render(pagination) }}</div>
    {% if topic_actions_form.action.vars.choices|length > 0 %}
        <div class="form-group ">
            {{ form_start(topic_actions_form, {'action': path('topic_moderation_action', {'id': topic.id}), 'method': 'POST', 'name': 'post'}) }}
            {{ form_label(topic_actions_form.action, null, {'label_attr': {'class': 'col-md-2', 'for': 'topic_actions', 'style': 'margin-top:10px;'}}) }}
            <div class="col-md-5">
                {{ form_widget(topic_actions_form.action, {'id': 'topic_actions', 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-sm btn-primary btn-block">Выполнить</button>
            </div>
            {{ form_end(topic_actions_form) }}
        </div>
    {% endif %}
{% endblock %}