<tr>
    <td class="text-center">
        {% if topic.isSticky %}
            <i class="fa fa-thumb-tack fa-2x text-primary"></i>
        {% elseif topic.closed %}
            <i class="fa fa-times fa-2x text-primary"></i>
        {% else %}
            <i class="fa fa-question fa-2x text-primary"></i>
        {% endif %}
    </td>
    <td>
        <h4>
            <a href="{{ path('show_topic', {'id': topic.id}) }}">{{ topic.title }}</a><br>
            <small>{{ topic.description }}</small><br>
            {% if topic.tags|length > 0 %}
                <div class="topiclist-tags">
                    {% for tag in topic.tags %}
                        <a href="{{ path('show_tag', {'id': tag.id}) }}"><button type="button" class="btn btn-xs btn-primary">{{ tag.name }}</button></a>
                    {% endfor %}
                </div>
            {% endif %}
            {{ forum_paginator_render(topic.paginator) }}
        </h4>
    </td>
    <td class="text-center hidden-xs hidden-sm"><a href="#">{{ topic.firstPost.author.name }}</a></td>
    <td class="text-center hidden-xs hidden-sm"><a href="#">{{ topic.postsAmount }}</a></td>
    <td class="hidden-xs hidden-sm">by <a href="#">{{ topic.lastPost.author.name }}</a><br><small><i class="fa fa-clock-o"></i> {{ topic.lastPost.created|date('m-d-Y H:i') }}</small></td>
</tr>