{% set i = 0 %}
{% if paginator.pagesCount > 1 %}
    <ul class="pagination pagination-sm">
        {% for page in paginator.pagesArray if i < paginator.pageRange %}
            {% if page == 1 %}
                <li><a href="{{ paginator.url }}">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ paginator.url }}/{{ page }}">{{ page }}</a></li>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
        {% if i < paginator.pagesCount %}
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="{{ paginator.url }}/{{ paginator.pagesCount }}">{{ paginator.pagesCount }}</a></li>
        {% endif %}
    </ul>
{% endif %}