{% extends 'ForumBundle::base.html.twig' %}
{% set category = 0 %}
{% block body %}
    {% for forum in forums %}
        {% if category != forum.category.id %}
            {% if category != 0 %}
                </tbody>
            </table>
            {% endif %}
            {% set category = forum.category.id %}
            <table class="table forum table-striped">
                <thead>
                    <tr>
                        <th class="cell-stat"></th>
                        <th>
                            <h3><a href="{{ path('category_list', {'id': forum.category.id}) }}">{{ forum.category.name }}</a></h3>
                        </th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Тем</th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Сообщений</th>
                        <th class="cell-stat-2x hidden-xs hidden-sm">Последнее сообщение</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
        <tr>
            <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
            <td>
                <h4><a href="{{ path('show_forum', {'id': forum.id}) }}">{{ forum.name }}</a><br><small>{{ forum.name }}</small></h4>
            </td>
            <td class="text-center hidden-xs hidden-sm"><a href="#">{{ forum.topicsAmount }}</a></td>
            <td class="text-center hidden-xs hidden-sm"><a href="#">{{ forum.postsAmount }}</a></td>
            <td class="hidden-xs hidden-sm">от <a href="#">{{ forum.lastPost.author.name }}</a><br><small><i class="fa fa-clock-o"></i> {{ forum.lastPost.created|date('m-d-Y H:i') }}</small></td>
        </tr>
    {% endfor %}
{% endblock %}