{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <table class="table forum table-striped">
    <thead>
    <tr>
        <th class="cell-stat"></th>
        <th>
            <h3>{{ category.name }}</h3>
        </th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Тем</th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Сообщений</th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Последнее сообщение</th>
    </tr>
    </thead>
    <tbody>
    {% for forum in forums %}
        <tr>
            <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
            <td>
                <h4><a href="{{ path('show_forum', {'id': forum.id}) }}">{{ forum.name }}</a><br><small>{{ forum.name }}</small></h4>
            </td>
            <td class="text-center hidden-xs hidden-sm"><a href="#">{{ forum.topicsAmount }}</a></td>
            <td class="text-center hidden-xs hidden-sm"><a href="#">{{ forum.postsAmount }}</a></td>
            <td class="hidden-xs hidden-sm">от <a href="#">{{ forum.lastPost.author.name }}</a><br><small><i class="fa fa-clock-o"></i> {{ forum.lastPost.created|date('m-d-Y H:i') }}</small></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}