{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="col-sm-5">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Вы действительно хотите удалить сообщение?</h3>
                </div>
            </div>
            {% block form_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                        <ul>
                            {% for error in errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_errors %}
            <div class="form-bottom">
                {{ form_start(form, {'action': path('delete_post', {'postId': post.id}), 'method': 'POST', 'name': 'post'}) }}
                {{ form_widget(form.id) }}
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Удалить</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-lg btn-primary btn-block" onclick="window.history.go(-1); return false;">Я передумал</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}