{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="col-sm-5">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>
                        {% if isTopicEdited %}
                            Редактировать тему
                        {% else %}
                            Редактировать пост
                        {% endif %}
                     </h3>
                </div>
            </div>
            {% block form_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                        <ul>
                            {% for error in errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_errors %}
            <div class="form-bottom">
                {{ form_start(form, {'action': path('edit_post', {'id': topic.id, 'postId': post.id}), 'method': 'POST', 'name': 'post'}) }}
                {% if isTopicEdited %}
                    <div class="form-group">
                        <label class="sr-only" for="form-title">{{ form_label(form.title) }}</label>
                        {{ form_widget(form.title, {'id': 'form-title', 'attr': {'class': 'form-title form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-description">{{ form_label(form.description) }}</label>
                        {{ form_widget(form.description, {'id': 'form-description', 'attr': {'class': 'form-description form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-description">{{ form_label(form.description) }}</label>
                        {{ form_widget(form.firstPost.post, {'id': 'form-description', 'attr': {'class': 'form-description form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-tags">{{ form_label(form.tags) }}</label>
                        {{ form_widget(form.tags, {'id': 'form-description', 'attr': {'class': 'form-tags form-control'}}) }}
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="sr-only" for="form-post">{{ form_label(form.post) }}</label>
                        {{ form_widget(form.post, {'id': 'form-post', 'attr': {'class': 'form-post form-control'}}) }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">YARRR!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}