{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="col-sm-5">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Новый пост</h3>
                </div>
            </div>
            {% block form_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                        <ul>
                            {% for error in errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_errors %}
            <div class="form-bottom">
                {{ form_start(form, {'action': path('reply_post', {'id': topic.id}), 'method': 'POST', 'name': 'post'}) }}
                <div class="form-group">
                    <label class="sr-only" for="form-post">{{ form_label(form.post) }}</label>
                    {{ form_widget(form.post, {'id': 'form-post', 'attr': {'class': 'form-post form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">YARRR!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}