<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Форум{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% endblock %}
</head>
<body>
    {% block navbar %}{{ include('ForumBundle:Layout:navbar.html.twig') }}{% endblock %}
    <div class="container" id="app">
        <div class="page-header page-heading">
            <h1 class="pull-left">Форум</h1>
            <ol class="breadcrumb pull-right where-am-i">
                <li><a href="{{ path('forum_categories_list') }}">Форум</a></li>
                {{ wo_render_breadcrumbs() }}
            </ol>

            <div class="clearfix"></div>
        </div>
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</body>
</html>