{% if wo_breadcrumbs()|length %}
    {%- spaceless -%}
        {% for b in breadcrumbs %}
            {% if b.url and not loop.last %}
                    <li><a href="{{ b.url }}">{{ b.text }}</a></li>
                {% elseif loop.last %}
                    <li class="active">{{ b.text }}</li>
                {% endif %}
        {% endfor %}
    {%- endspaceless -%}
{% endif %}