@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~font-awesome/css/font-awesome.css';

body {
  padding-top: 70px;
  margin-bottom: 70px;
}

.forum .fa {
  width: 1em;
  text-align: center;
}

.forum.table th.cell-stat {
  width: 6em;
}

.forum.table th.cell-stat-2x {
  width: 14em;
}

.post-body {
  line-height: 2;
}

.btn-link-1 {
  background: #19b9e7 none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  line-height: 16px;
  margin: 5px;
  padding: 16px 20px 0;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
  color: #fff;
  opacity: 0.6;
  outline: 0 none;
}
.btn-link-1.btn-link-1-facebook {
  background: #4862a3 none repeat scroll 0 0;
}
.btn-link-1.btn-link-1-twitter {
  background: #55acee none repeat scroll 0 0;
}
.btn-link-1.btn-link-1-google-plus {
  background: #dd4b39 none repeat scroll 0 0;
}
.btn-link-1 i {
  font-size: 20px;
  line-height: 20px;
  padding-right: 5px;
  vertical-align: middle;
}
.btn-link-2 {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  line-height: 16px;
  margin: 5px;
  padding: 15px 20px 0;
}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  color: #fff;
  opacity: 0.6;
  outline: 0 none;
}
.inner-bg {
  padding: 60px 0 80px;
}
.top-content .text {
  color: #fff;
}
.top-content .text h1 {
  color: #fff;
}
.top-content .description {
  margin: 20px 0 10px;
}
.top-content .description p {
  opacity: 0.8;
}
.top-content .description a {
  color: #fff;
}
.top-content .description a:hover, .top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.form-top {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  padding: 0 25px 15px;
  text-align: left;
}
.form-top-left {
  float: left;
  padding-top: 25px;
  width: 75%;
}
.form-top-left h3 {
  margin-top: 0;
}
.form-top-right {
  color: #ddd;
  float: left;
  font-size: 66px;
  line-height: 100px;
  padding-top: 5px;
  text-align: right;
  width: 25%;
}
.form-bottom {
  background: #eee none repeat scroll 0 0;
  border-radius: 0 0 4px 4px;
  padding: 25px 25px 30px;
  text-align: left;
}
.form-bottom form textarea {
  height: 100px;
}
.form-bottom form button.btn {
  width: 100%;
}
.form-bottom form .input-error {
  border-color: #19b9e7;
}
.social-login {
  margin-top: 35px;
}
.social-login h3 {
  color: #fff;
}
.social-login-buttons {
  margin-top: 25px;
}
.middle-border {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: 170px;
  min-height: 300px;
}
footer {
  color: #fff;
  padding-bottom: 70px;
}
footer .footer-border {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding-bottom: 30px;
  width: 200px;
}
footer p {
  opacity: 0.8;
}
footer a {
  color: #fff;
}
footer a:hover, footer a:focus {
  border-bottom: 1px dotted #fff;
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .middle-border {
    border-right: 0 none;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin: 65px 30px 0;
    min-height: auto;
  }
}
@media (max-width: 415px) {
  h1, h2 {
    font-size: 32px;
  }
}

.warning {
  color: red;
}

.topic-buttons {
  padding: 0 10px 10px 10px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.topiclist-tags {
  margin-top: 5px;
}