<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('forum_categories_list') }}">Главная</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not is_granted("ROLE_USER") %}
                    <li><a href="{{ path('registration') }}">Регистрация</a></li>
                    <li><a href="{{ path('login') }}">Вход</a></li>
                {% else %}
                    <li>
                        {% if app.user.enabled %}
                            <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ app.user.username }}</a>
                        {% else %}
                            <a href="{{ path('activate') }}"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i> {{ app.user.username }}</a>
                        {% endif %}
                    </li>
                    <li><a href="{{ path('logout') }}">Выход</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>