{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Активируйте ваш аккаунт</h1>
        <p>На введённый вами email-адрес {{ user.email }} отправлено письмо со ссылкой, по которой вы должны перейти, чтобы подтвердить свой email и активировать аккаунт.</p>
    </div>
{% endblock %}