{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Привет, {{ user.username }}</h1>
        <p>Вы подтвердили свой аккаунт</p>
    </div>
{% endblock %}