{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="col-sm-5">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Регистрация</h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            {% block form_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                        <ul>
                            {% for error in errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_errors %}
            <div class="form-bottom">
                {{ form_start(form, {'action': path('registration'), 'method': 'POST', 'name': 'register'}) }}
                    <div class="form-group">
                        <label class="sr-only" for="form-name">{{ form_label(form.name) }}</label>
                        {{ form_widget(form.name, {'id': 'form-name', 'attr': {'class': 'form-name form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-email">{{ form_label(form.email) }}</label>
                        {{ form_widget(form.email, {'id': 'form-email', 'attr': {'class': 'form-email form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password-first">{{ form_label(form.plainPassword.first) }}</label>
                        {{ form_widget(form.plainPassword.first, {'id': 'form-password-first', 'attr': {'class': 'form-password-first form-control'}, 'value': '' }) }}
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password-second">{{ form_label(form.plainPassword.second) }}</label>
                        {{ form_widget(form.plainPassword.second, {'id': 'form-password-second', 'attr': {'class': 'form-password-second form-control'}, 'value': '' }) }}
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Зарегистрироваться!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}