{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <div class="col-sm-5">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Отправить письмо с активацией повторно</h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            {% block form_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                        <ul>
                            {% for error in errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_errors %}
            <div class="form-bottom">
                {{ form_start(form, {'action': path('activate'), 'method': 'POST', 'name': 'activate'}) }}
                <div class="form-group">
                    <label class="sr-only" for="form-email">{{ form_label(form.email) }}</label>
                    {{ form_widget(form.email, {'id': 'form-email', 'attr': {'class': 'form-email form-control',}}) }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Отправить письмо с активацией</button>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}