{% extends 'ForumBundle::base.html.twig' %}
{% block body %}
    <table class="table forum table-striped">
        <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>Все темы с тегом "{{ tag.name }}"</h3>
            </th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Автор</th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Сообщений</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Последнее сообщение</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            {% include ('ForumBundle:Forum:topicRow.html.twig') %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}